// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// 默认菜单主题风格
// $base-menu-color:#bfcbd9;
// $base-menu-color-active:#f4f4f5;
// $base-menu-background:#304156;
// $base-logo-title-color: #ffffff;

// $base-menu-light-color:rgba(0,0,0,.70);
// $base-menu-light-background:#ffffff;
// $base-logo-light-title-color: #001529;

// $base-sub-menu-background:#1f2d3d;
// $base-sub-menu-hover:#001528;

// 自定义高亮主题风格
$base-menu-color: #004080; // 深蓝色
$base-menu-color-active: #0575e5; // 活跃状态下的蓝色
$base-menu-background: #F5F5F5; // 菜单背景色，浅灰色
$base-logo-title-color: #333333; // 商务黑色

$base-menu-light-color: #ffffff; // 亮色文字，白色
$base-menu-light-background: #004080; // 亮色背景，深蓝色
$base-logo-light-title-color: #ffffff; // 亮色商务标题，白色

$base-sub-menu-background: #f9f7f781; // 子菜单背景，深灰色
$base-sub-menu-hover: #e2e2e2e2; // 子菜单悬停颜色，商务黑色

// 自定义暗色菜单风格
/**
$base-menu-color:hsla(0,0%,100%,.65);
$base-menu-color-active:#fff;
$base-menu-background:#001529;
$base-logo-title-color: #ffffff;

$base-menu-light-color:rgba(0,0,0,.70);
$base-menu-light-background:#ffffff;
$base-logo-light-title-color: #001529;

$base-sub-menu-background:#000c17;
$base-sub-menu-hover:#001528;
*/

$base-sidebar-width: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
